html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size:16px;
    line-height: 1;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.box {
    background: #008000;
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    border: 2px dashed #f00;
}

.float {
    max-width: 650px;
    text-align: justify;
}

.float-left {
    float: left;
    margin: 0 20px 10px 0;
}

.float-right {
    float: right;
    margin: 10px 20px;
}