.quote {
    color: #0f0;
}

a[href^="https"] {
    color: #f00;
}

.list > li:last-child {
    background-color: #0f0;
}

ul + p {
    font-size: 26px;
}

.text-box h3:first-child {
    color: #ffc0cb;
}

.text-box #greycol {
    color: #808080;
}

.text-box div + div {
    color: #f00;
}

.text-box p:nth-of-type(3) {
    color: #008000;
}

.text-box .yellow {
    color: #ffff00;
}
