html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 10px;
    font-size: 16px;
    line-height: 1;
    background-color: rgb(255, 236, 200);
}

#wrapper {
    position: relative;
    width: 100%;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin-bottom: 15px;
}

/* задание 3 */
.nav {
    position: relative;
    width: 250px;
    background: #808080;
    left: -220px;
    min-height: 500px;
    transition: left .5s ease-in;
    padding: 35px 0 0 10px;
}

.nav:hover {
    left: 0;
}

.nav .menu {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    transition: opacity .6s ease-in;
    transform: rotate(90deg);
    right: -30px;
    top: 45%;
}

.nav:hover .menu {
    opacity: 0;
}

.list {
    list-style: square;
    color: #ffa500;
    margin: 0;
    font-size: 25px;
}

.link {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s ease-in;
}

.link:hover {
    color: #ffa500;
}

/* задание 1 */
.cards {
    width: 100%;
    height: 500px;
    background-color: #0d5825;
    padding-top: 25px;
    position: relative;
}

.cards blockquote {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
}

.cards blockquote q {
    font-weight: bold;
}

.card {
    position: absolute;
    top: 35%;
    transition: transform .3s ease-in;
}

.card-1 {
    left: 140px;
    transform: rotate(-25deg);
}

.card-1:hover {
    transform: rotate(-25deg) translateY(-15px);
}

.card-2 {
    left: 185px;
    transform: rotate(-10deg) translateY(5px);
}

.card-2:hover {
    transform: rotate(-10deg) translateY(-10px);
}

.card-3 {
    left: 235px;
    transform: rotate(10deg) translateY(20px);
}

.card-3:hover {
    transform: rotate(10deg) translateY(5px);
}

.cards figure {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}

.cards figcaption {
    display: inline;
}

/* задание 2 */
.squares {
    width: 100%;
    height: 500px;
    position: relative;
}

.square {
    width: 250px;
    height: 250px;
    position: absolute;
}

.square-1 {
    top: 0;
    left: 0;
    background-color: #dc143c;
}

.square-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(71, 71, 252);
    z-index: 10;
}

.square-3 {
    bottom: 0;
    right: 0;
    background-color: #37fc72;
}

/* задание 4 */
.animation-field {
    width: 100%;
    height: 500px;
    position: relative;
}

@keyframes move {
    0% {top: 0; left: 0; bottom: 375px; right: 375px; background-color: #f00;}
    25% {top: 0; right: 0; bottom: 375px; left: 375px; background-color: #ff0;}
    50% {bottom: 0; right: 0; top: 375px; left: 375px; background-color: #0f0;}
    75% {bottom: 0; left: 0; top: 375px; right: 375px; background-color: #00f;}
    100% {top: 0; left: 0; bottom: 375px; right: 375px; background-color: #f00;}
}

.moving-square {
    width: 125px;
    height: 125px;
    background-color: #f00;
    position: absolute;
    animation: move 4s infinite ease-in reverse;
}